@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}


.navbar-light {
  background-color: #64F0FF;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

header {
  height: 128px;
  background-color: #E0E7FF;
}

footer {
  height: 440px;
  background-color: #E0E7FF;
}

main {
  min-height: calc(100vh - 140px - 440px);
}

.card {
  transition: all 0.5s ease;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.card-body h5 {
  text-decoration: none;
  color: black;
}

.card:hover {
  transform: scale(1.055);
  transition: all 0.5s ease;
  text-decoration: none;
  color: black;
}

.card:hover .backgroundEffect {
  bottom: 0;
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1;
  text-decoration: none;
  color: black;
  animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
  0% {
    height: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%
  }

  50% {
    height: 80px;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%
  }

  75% {
    height: 160px;
    border-top-left-radius: 85%;
    border-top-right-radius: 85%
  }

  100% {
    height: 320px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%
  }


}
.favourite-card {
  background-color: #FFCB05;
  color: #4F4F4F;
}

.favourite:hover {
  transform: scale(1.055);
  transition: all 0.5s ease;
}

.pokemon-card{
  text-decoration: none;
  color: black;
}

.grass {
  background-color: #9AD07F;
}

.gradient-grass {
  width: 100%;
  background: linear-gradient(to bottom, #9AD07F, white);
}

.fire{
  background-color: #F49753;
}

.gradient-fire {
  width: 100%;
  background: linear-gradient(to bottom, #F49753, white);
}

.water{
  background-color: #8CAAF0;
}

.gradient-water {
  width: 100%;
  background: linear-gradient(to bottom, #8CAAF0, white);
}

.bug {
  background-color: #B8C73C;
}

.gradient-bug {
  width: 100%;
  background: linear-gradient(to bottom, #B8C73C, white);
}

.normal {
  background-color: #CFCFBD;
}

.gradient-normal {
  width: 100%;
  background: linear-gradient(to bottom, #CFCFBD, white);
}

.poison {
  background-color: #AA6DAA;
}

.gradient-poison {
  width: 100%;
  background: linear-gradient(to bottom, #AA6DAA, white);
}

.electric {
  background-color: #F9DF7A;
}

.gradient-electric {
  width: 100%;
  background: linear-gradient(to bottom, #F9DF7A, white);
}

.fairy {
  background-color: #EFAAB9;
}

.gradient-fairy {
  width: 100%;
  background: linear-gradient(to bottom, #EFAAB9, white);
}

.ground {
  background-color: #EDD185;
}

.gradient-ground {
  width: 100%;
  background: linear-gradient(to bottom, #EDD185, white);
}

.fighting {
  background-color: #BB5A54;
}

.gradient-fighting {
  width: 100%;
  background: linear-gradient(to bottom, #BB5A54, white);
}
.psychic {
  background-color: #F47FA2;
}
.gradient-psychic {
  width: 100%;
  background: linear-gradient(to bottom, #F47FA2, white);
}
.rock {
  background-color: #C7B35F;
}
.gradient-rock {
  width: 100%;
  background: linear-gradient(to bottom, #C7B35F, white);
}
.ice {
  background-color: #B5E2E2;
}
.gradient-ice {
  width: 100%;
  background: linear-gradient(to bottom, #B5E2E2, white);
}
.flying{
  background-color: #A890F0;
}

.gradient-ghost{
  width: 100%;
  background: linear-gradient(to bottom, #806F9D, white);
}
.gradient-dragon{
  width: 100%;
  background: linear-gradient(to bottom, #8859FA, white);
}
.dragon{
  background-color: #8859FA;
}
.ghost {
  background-color: #806F9D;
}
.type-box {
  display: inline-block;
  padding: 5px 15px;
  border: 1px #888;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.type-container{
  display: inline;
}